/* General CSS with mobile first approach */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.to-do-list-section {
  padding: 10% 25%;
  background-color: #f6f6f6;
}

.to-do-list-item {
  height: 60px;
  border-bottom: 2px solid #f6f6f6;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 1% 3%;
  background-color: #fff;
}

.to-do-header {
  height: 60px;
  border-bottom: 2px solid #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
  background-color: #fff;
}

.to-do-header h1 {
  font-size: 16px;
  font-weight: 500;
}

.clear-all-completed-btn {
  width: 100%;
  height: 60px;
  border: none;
  color: #7e8081;
  background-color: #f6f6f6;
}

.input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
  border-bottom: 2px solid #f6f6f6;
  background-color: #fff;
}

.input-area input {
  width: 90%;
  height: 60px;
  border: none;
  font-size: 14px;
}

.input-area input::placeholder {
  font-style: italic;
  font-size: 14px;
  color: #7e8081;
}

.option-btn {
  border: none;
  position: relative;
  left: 88%;
}

.to-do-list-container {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}
