/* General CSS with mobile first approach */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* to-do list section */
.task-list-error-msg {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do-list-section {
  padding: 10% 25%;
  background-color: #f6f6f6;
}

.to-do-header {
  height: 60px;
  border-bottom: 2px solid #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
  background-color: #fff;
}

.to-do-header h1 {
  font-size: 16px;
  font-weight: 500;
}

.input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
  border-bottom: 2px solid #f6f6f6;
  background-color: #fff;
}

.input-area input {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 14px;
  padding: 1% 1.5%;
}

.input-area input:focus {
  outline: none;
  cursor: auto;
}

.input-area input::placeholder {
  font-style: italic;
  font-size: 14px;
  color: #7e8081;
}

.to-do-list-container {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.to-do-list-item-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.to-do-list-item {
  width: 100%;
  height: 65px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 1% 0% 1% 2%;
  background-color: #fff;
}

input[type="checkbox"]:checked {
  border: none;
  background-color: #000;
  color: #6492ee;
  font-size: 20px;
}

.blue-tick {
  color: #6492ee;
  font-size: 20px;
}

.completed {
  text-decoration: line-through;
}

.option-btn,
.trash-task-btn {
  padding: 0 0;
  border: none;
  position: absolute;
  left: 72.5%;
  width: 20px;
  height: 30px;
  z-index: 10;
  background-color: transparent;
}

.trash-task-btn {
  color: #ccc;
}

.trash-task-btn:hover {
  color: #000;
}

/* edit input */
.edit-input {
  display: flex;

  /* width: 100%; */
  height: 100%;
  border: none;
  font-size: 16px;
  background-color: transparent;
}

.edit-input:focus {
  outline: none;
  cursor: auto;
}

.edit-bg-color {
  background-color: antiquewhite;
}

.hide {
  display: none;
}

.clear-all-tasks-completed-btn {
  width: 100%;
  height: 50px;
  border: none;
  color: #7e8081;
  background-color: transparent;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 45px;
  margin: auto;
  margin: 1% 30%;
}

.danger {
  background-color: #f8d7da;
}

.success {
  background-color: #d4edda;
}
